.title{
    width: 100%;
    height: 0.96rem;
    background: #fff;
    border-bottom: 0.02rem solid #cccccc;
}
.title_back{
    width: 0.22px;
    height: 100%;
    float: left;
    margin-left: 0.3rem;
}
.title_back a{
    /*font-size: 0.4rem;*/
    /*font-weight: bold;*/
    /*color: #333333;*/
    /*line-height: 0.96rem;*/
    width: 0.25rem;
    height: 0.45rem;
    display: block;
    background: url("../img/back.gif");
    background-size: contain;
    margin-top: 0.25rem;

}
.title_font{
    display: block;
    height: 100%;
    margin: 0 auto;
    font-size: 0.36rem;
    font-weight: bold;
    line-height: 0.96rem;
    text-align: center;
}

.wraper{
    width: 100%;
    height: 2.02rem;
    background: url("../img/examine.gif") no-repeat center center;
    background-size: contain;
}