.title{
    width: 100%;
    height: 0.96rem;
    background: #fff;
    border-bottom: 0.17rem solid #cccccc;
}
.title_back{
    width: 0.22px;
    height: 100%;
    float: left;
    margin-left: 0.3rem;
}
.title_back a{
    /*font-size: 0.4rem;*/
    /*font-weight: bold;*/
    /*color: #333333;*/
    /*line-height: 0.96rem;*/
    width: 0.25rem;
    height: 0.45rem;
    display: block;
    background: url("../img/back.gif");
    background-size: contain;
    margin-top: 0.25rem;

}
.title_font{
    display: block;
    height: 100%;
    margin: 0 auto;
    font-size: 0.36rem;
    font-weight: bold;
    line-height: 0.96rem;
    text-align: center;
}

.login{
    width: 100%;
    height: 2.83rem;
    border-top: 0.02rem solid #ebebeb;
    position: relative;
}

.login_top{
    height: 1.62rem;


}
.login_topphon,.login_topcheck{
    width: 100%;
    height: 0.8rem;
    border-bottom: 0.02rem solid  #ebebeb;
    padding: 0 0.3rem;
    box-sizing: border-box;
}
.login_topphon{
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_topphon input,.login_topcheck input{
    width: 5rem;
    height: 100%;
    outline: none;
    font-size: 0.28rem;
    color: #333333;
    border: none;
}

.getcheckcod{
    width: 1.34rem;
    height: 0.52rem;
    background-image: linear-gradient(90deg, #ff963b 0%, #ff6a22 100%);
    border-radius: 0.1rem;
    font-size: 0.22rem;
    color: #fff;
    line-height: 0.52rem;
    text-align: center;
}
.login_submit{
    width: 6.6rem;
    height: 0.78rem;
    background-image: linear-gradient(90deg, #ff963b 0%, #ff6a22 100%);
    border-radius: 0.1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -3.3rem;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 0.78rem;
}


.notice{
    height: 0.79rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.3rem;
    box-sizing: border-box;
}
.notice_choose{
    width: 0.23rem;
    height: 0.23rem;
    border-radius: 0.01rem;
    display: inline-block;
    border: 0.02rem solid #060101;
}
.notice_word{
    display: inline-block;
    height: 0.27rem;
    font-size:0.2rem ;
    line-height: 0.27rem;
    margin: 0 0.12rem 0 0.27rem;
}
.notice_link{
    line-height: 0.27rem;
    font-size: 0.2rem;
    color: #43b4ff;
}

/*.notice .choosed::after{*/
    /*content: "√";*/
    /*display: block;*/
    /*color: #e03333;*/
    /*font-size: 0.12rem;*/
    /*line-height: 0.23rem;*/
    /*text-align: center;*/
    /*position: relative;*/
    /*top:0;*/
    /*bottom: 0;*/
    /*left:0;*/
    /*right: 0;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top:auto;*/
    /*margin-bottom: auto;*/

/*}*/

.choosed{
    background: url("../img/dui.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
}