.title{
    width: 100%;
    height: 0.96rem;
    border-bottom: 0.02rem solid #ebebeb;
    position: relative;
}
.title_back{
    width: 0.22px;
    height: 100%;
    float: left;
    margin-left: 0.32rem;
}
.title_back a{
    /*font-size: 0.4rem;*/
    /*font-weight: bold;*/
    /*color: #333333;*/
    /*line-height: 0.96rem;*/
    width: 0.25rem;
    height: 0.45rem;
    display: block;
    background: url("../img/back.gif");
    background-size: contain;
    margin-top: 0.25rem;

}
.title_font{
    display: block;
    height: 100%;
    margin: 0 auto;
    font-size: 0.36rem;
    font-weight: bold;
    line-height: 0.96rem;
    text-align: center;
    font-family: SourceHanSansCN-Bold;
}


.title>a{
    font-size: 0.26rem;
    color:  #43b4ff;
    line-height: 0.96rem;
    position: absolute;
    top:0;
    right: 0.49rem;
}



/*搜索框*/
.seachinput{
    width: 100%;
    height: 1.02rem;
    border-bottom: 0.02rem solid  #ebebeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchecho{
    width: 5.23rem;
    height: 0.57rem;
    background:  #d9d9d9;
    border-radius: 0.24rem;
    display: flex;
    align-items: center;

}

.searchecho i.icon-fangdajing{
    font-size: 0.4rem;
    color: #757575;
    margin-left: 0.22rem;
    margin-right: 0.2rem;
}

.searchecho input{
    outline: none;
    border: none;
    height: 100%;
    border-radius: 0.24rem;
    background: #d9d9d9;
    font-size: 0.28rem;
    line-height: 100%;
    color: #3e3e3e;
    width: 100%;
}

.searchbtn{
    font-size: 0.34rem;
    color: #3e3e3e;
    font-weight: bold;
}

.searchshow{
    width: 100%;
    height: auto;

}


.searchlist {
    width: 100%;
    height: 1.92rem;
    border-bottom: 0.02rem solid #ebebeb;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.listL{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.listLimg{
    width: 2.01rem;
    height: 1.3rem;
    border-radius: 0.1rem;
}

.listLimg img{
    width: 100%;
    height: auto;
    display: block;
}
.listLcon{
    margin-left:0.11rem;
}
.listmiao span{
    font-size: 0.24rem;
    color: #666666;
}
.listname{
    font-size: 0.26rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0.26rem;
}
.listLprice{
    margin-top: 0.17rem;
}
.price{
    font-size: 0.22rem;
    color: #cb2c2c;
    font-weight: bold;

}
.num{
    font-size: 0.2rem;
    color: #ffffff;
    line-height: 0.34rem;
    padding: 0 0.16rem;
    background-image: linear-gradient(90deg, #ff963b 0%, #ff6a22 100%);
    border-radius: 0.1rem;
    opacity: 0.64;
    margin-left: 0.99rem;
}

.listR{
    width: 0.44rem;
    height: 0.44rem;
    background: url("../img/addbtn.png") no-repeat;
    background-size: contain;
    background-position: center;

}

