.title{
    width: 100%;
    height: 0.96rem;
    border-bottom: 0.17rem solid #cccccc;
    position: relative;
}
.title_back{
    width: 0.22px;
    height: 100%;
    float: left;
    margin-left: 0.32rem;
}
.title_back a{
    /*font-size: 0.4rem;*/
    /*font-weight: bold;*/
    /*color: #333333;*/
    /*line-height: 0.96rem;*/
    width: 0.25rem;
    height: 0.45rem;
    display: block;
    background: url("../img/back.gif");
    background-size: contain;
    margin-top: 0.25rem;

}
.title_font{
    display: block;
    height: 100%;
    margin: 0 auto;
    font-size: 0.34rem;
    font-weight: bold;
    line-height: 0.96rem;
    text-align: center;
    font-family: SourceHanSansCN-Bold;
}


.setinglist{
    width: 100%;
    height: 1.3rem;
    border-bottom: 0.02rem solid #cccccc;
}

.setinglist a{
    height: 100%;
    display: flex;
    align-items: center;
}

.listname{
    font-size: 0.28rem;
    color: #333333;
    margin-left: 0.52rem;
}

.listimg{
    width: 0.8rem;
    height: 0.76rem;
    margin-left: 0.5rem;
}

.bott{
    border-bottom: 0.27rem solid #cccccc;
}
.phone{
    font-size: 0.18rem;
    color:  #959595;
    margin-left: 0.23rem;
}

.time{
    font-size: 0.18rem;
    color: #959595;
    margin-left: 0.59rem;
}

.listimg img{
    width: 100%;
    height: 100%;
    display: block;
}



.cunbtn{
    width: 100%;
    height: 1.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cunan{
    width: 88.47222%;
    height: 0.7rem;
    background-image: linear-gradient(90deg, #ff933a 0%, #ff6c22 100%);
    border-radius: 0.14rem;
    margin-top: 1.14rem;
    font-size: 0.32rem;
    color: #ffffff;
    line-height: 0.7rem;
    text-align: center;
}