body{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}
.navtitle{
    width: 100%;
    height: 0.97rem;
    border-bottom: 0.02rem solid #ebebeb;
    font-size: 0.36rem;
    color: #333333;
    text-align: center;
    line-height: 0.97rem;
    font-weight: bold;

}
#container{
    position: absolute;
    top:1.79rem;
    bottom: 0;
}
.navtop{
    width: 100%;
    height: 0.76rem;
    border-top: 0.02rem solid #ebebeb;
    border-bottom: 0.02rem solid #ebebeb;
    position: absolute;
    top:0.97rem;
    left: 0;
    z-index: 30;
    background: #ffffff;
    display: flex;

}

.navleft,.navright{
    width: 50%;
    height: 100%;
    font-size: 0.3rem;
    color: #787878;
    line-height: 0.76rem;
    text-align: center;
}

.navactive{
    background-image: linear-gradient(128deg, #ff963a 0%, #ff6b23 100%), linear-gradient(#ffffff, #ffffff);
    border-radius: 0.12rem;
    color: #ffffff;
}

.jiange{
    width: 0.02rem;
    height: 0.65rem;
    background: #eaeaea;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-0.33rem;
    margin-left: 0.01rem;
}

.qunfabtn{
    width: 1.26rem;
    height: 0.51rem;
    background-image: linear-gradient(128deg, #ff963a 0%, #ff6b23 100%), linear-gradient(#ffffff, #ffffff);
    position: absolute;
    top:2.01rem;
    right: 0.24rem;
    z-index: 30;
    border-radius: 0.12rem;
    font-size: 0.24rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.51rem;
}



/*地图控件的样式*/
/*div.amap-toolbar{*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 1.67rem;*/

/*}*/
/*点击出现信息*/
.userinfowrap{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.45);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userimg{
    width: 100%;
    height: 5.7rem;
    background: red;
    border-radius: 0.1rem;

}
.userimg img{
    display: block;
    width: 100%;
    height: 100%;
}


.userinfo{
    width: 6.58rem;
    height: 8.03rem;
    background: #ffffff;
    border-radius: 0.1rem;
}
.usercontent{
    width: 100%;
    height: 1.12rem;
    padding: 0 0.24rem 0 0.27rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.username{
    display: inline-block;
    font-size: 0.34rem;
    color: #707070;
}
.useras{
    width: 1.02rem;
    height: 0.44rem;
    background: #ebebeb;
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.12rem;
}
.useras .usersex{
    font-size: 0.28rem;
    color: #818181;
}
.useras .userage{
    font-size: 0.22rem;
    color: #8f8f8f;
}

.usertime{
    font-size: 0.2rem;
    color: #8f8f8f;
    margin-bottom: 0.21rem;
}

.userjuli{
    font-size: 0.2rem;
    color: #8f8f8f;
    float: right;

}
.sayhai{
    width: 6.1rem;
    height: 0.69rem;
    background-image: linear-gradient(128deg, #ff963a 0%, #ff6b23 100%), linear-gradient(#ffffff, #ffffff);
    font-size: 0.28rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.69rem;
    border-radius: 0.12rem;
    margin: 0.15rem auto;
}

/*群发*/
.qunfa{
    width:4.93rem;
    height: 1.83rem;
    background: #ffffff;
    border-radius: 0.1rem;

}

.qunfa .top{
    width: 100%;
    height: 0.55rem;
    border-bottom: 0.01rem solid #d4d4d4;
    padding-left: 0.14rem;
    font-size: 0.24rem;
    color: #707070;
    line-height: 0.55rem;
}
.qunfa textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0.25rem 0.15rem 0.25rem 0.15rem;
    box-sizing: border-box;
    font-size: 0.2rem;
    color: #515050;
    line-height: 0.34rem;
    border-radius: 0.1rem;

}
/*底下的导航栏*/
/*底部导航*/
.footer{
    width: 100%;
    height: 0.96rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
}

.footerli{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    align-items: center;
}
.footerword{
    font-size: 0.2rem;
    color: #333333;
}
.footerli .iconfont.footactive{
    font-size: 0.48rem;
    color: #fd903a;
}

.footerli .icon-gerenzhongxinwodedingdan,.footerli .icon-dingdandingdanchaxun,.footerli .icon-faxian{
    font-size: 0.46rem;
    color: #8e8e8e;
}
.footerli .icon-gerenzhongxinwodedingdan,.footerli .icon-dingdandingdanchaxun{
    font-size: 0.48rem;
}

